@font-face {
    font-family: nuno-sans-light;
    src: url(Fonts/Nunito_Sans/static/NunitoSans_10pt-Light.ttf);
}
@font-face {
    font-family: nuno-sans-medium;
    src: url(fonts/Nunito_Sans/static/NunitoSans_10pt-Medium.ttf);
}
@font-face {
    font-family: nuno-sans-bold;
    src: url(fonts/Nunito_Sans/static/NunitoSans_10pt-Bold.ttf);
}
@font-face {
    font-family: satisfy;
    src: url(fonts/Satisfy/Satisfy-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
}
html,
body {
    height: 100%;
    width: 100%;
}

nav .logo {
    height: 60%;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 20px 0;
}
.logo {
    color: rgba(40, 39, 39, 0.852);
    font-family: satisfy;
    font-size: 2rem;
    padding: 0 10px;
}
.nav-links {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav {
    width: 100%;
    background-color: #e3cccc;
    display: flex;
    flex-direction: column;
}
ul {
    display: flex;
}
ul li {
    list-style: none;
    font-family: nuno-sans-light;
    padding-left: 20px;
    font-size: 1rem;
}
.nav-link {
    color: rgba(56, 53, 53, 0.752);
    text-decoration: none;
}
.nav-link:hover {
    border-bottom: 1px solid #000;
    font-weight: 400;
    color: black;
}

.Footer-container {
    height: 50%;
    width: 100%;
    background-color: #faece9;
    color: rgba(56, 53, 53, 0.752);
    display: flex;
    align-items: center;
}
.first,
.second,
.third {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-align: center;
    padding: 5vh 10vw;
}

.Footer-container ul {
    display: block;
}
.Footer-container li {
    line-height: 4vh;
}
.Footer-container li:hover {
    color: #000000;
    cursor: pointer;
}
.footer-link {
    text-decoration: none;
    color: rgba(56, 53, 53, 0.752);
}
.homepage-container {
    height: 100%;
    width: 100%;
}

/* Style for the first section */
.section-1 {
    height: 100%;
    width: 100%;
    display: flex;
}

/* Style for the left part of the first section */
.section-1-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for the image in the left part of the first section */

/* Style for the right part of the first section */
.section-1-right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section-1-right h1 {
    padding-left: 25px;
    text-align: left;
    font-family: nuno-sans-bold;
    color: #000000ae;
}
.section-1-right h2 {
    font-family: nuno-sans-medium;
    color: #2e2c2cae;
}
.section-2 {
    height: 20vh;
    width: 100%;
    background-color: #e3cccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease-in 0.5s;
}
h1,
h2,
h3 {
    color: #2e2c2cae;
    padding: 20px 0;
}
p {
    color: #000000ae;
    font-size: 1.5rem;
}
.section-2 h1 {
    font-family: nuno-sans-medium;
    flex-direction: row;
    display: flex;
}
.section-2 h3 {
    font-family: nuno-sans-light;
    padding: 22px 0;
    transition: all ease 0.5s;
}
.section-2 h3:hover {
    padding: 0 20px;
    font-weight: 900;
    font-size: 20px;
    color: black;
}
.section-3 {
    height: 50vh;
    width: 100%;
    display: flex;
}
.section-3-left,
.section-3-right {
    width: 25%;
    padding: 0 10px;
    height: 100%;
}

.section-3-middle {
    padding: 0 7%;
    font-family: nuno-sans-medium;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100%;
}
.text-middle li {
    font-size: 1rem;
    transition: all ease 0.5s;
}
.text-middle li:hover {
    font-size: 1.1rem;
    font-weight: 800;
    color: #000;
}
#shop-50K {
    text-align: center;
    font-family: nuno-sans-medium;
    text-decoration: none;
    transition: ease all 0.5s;
}
#shop-50K:hover {
    font-size: large;
    color: #000;
}
.section-3-right img,
.section-3-left img {
    height: 500px;
    width: 280px;
}
.customize-now {
    height: 2.5rem;
    width: 15rem;
    background-color: #000000;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    transition: all 0.5s ease;
}
.customize-now:hover {
    height: 2.7rem;

    background-color: #000000a2;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,400);

.frame {
    position: absolute;
    width: 90%;
    height: 10vh;
    border-radius: 2px;

    overflow: hidden;
    color: #2e2c2cae;
    font-family: "Open Sans", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -37.5px;
}

.carousel {
    font-family: nuno-sans-medium;
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    line-height: 5rem;
    height: 100%;
}
.carousel .pre {
    position: absolute;
    top: 0;
    right: 54.5%;
    height: 75px;
}
.carousel .change_outer {
    position: absolute;
    top: 0;
    left: 46%;
    text-align: left;
    height: 75px;
    overflow: hidden;
}
.carousel .change_outer .change_inner {
    position: relative;
    -webkit-animation: rotate 8s ease-in-out infinite;
    animation: rotate 8s ease-in-out infinite;
}
.carousel .change_outer .element {
    display: block;
    font-weight: 700;
}

@-webkit-keyframes rotate {
    0%,
    20% {
        transform: translateY(0);
    }
    25%,
    45% {
        transform: translateY(-75px);
    }
    50%,
    70% {
        transform: translateY(-150px);
    }
    75%,
    95% {
        transform: translateY(-225px);
    }
    100% {
        transform: translateY(-300px);
    }
}

@keyframes rotate {
    0%,
    20% {
        transform: translateY(0);
    }
    25%,
    45% {
        transform: translateY(-75px);
    }
    50%,
    70% {
        transform: translateY(-150px);
    }
    75%,
    95% {
        transform: translateY(-225px);
    }
    100% {
        transform: translateY(-300px);
    }
}
.homepage {
    height: 90%;
    width: 90%;
}

.m-carousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.m-carousel img.active {
    opacity: 1; /* Makes the image visible*/
}

/*Carousel arrows*/

.m-carousel i {
    position: absolute;
    top: 35vh;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    z-index: 1;
}

.m-carousel .prev {
    left: 20px;
}

.m-carousel .next {
    right: 20px;
}

/*Carousel indicators*/
.m-carousel-indicators {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.m-carousel-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
}

.m-carousel-indicator.active {
    background-color: #fff;
    border: 1px solid #fff;
}

/* For mobile screens */
@media (max-width: 767px) {
    .m-carousel {
        height: 250px;
    }

    .m-carousel img {
        height: auto; /* Allow the height to adjust automatically */
        object-fit: fill; /* Fill the container without preserving the aspect ratio */
    }

    .m-carousel-indicators,
    .carousel-indicator {
        display: none;
    }

    .m-carousel i {
        top: 17vh;
    }
}
